/* media query mobile first s 480px */
@media screen and (min-width: 480px) {

    /* effetti scomparsa */
    img[alt="logo small"] {
        display: none;
    }

    /* effetti comparsa */
    img[alt="logo big"] {
        display: inline-block;
    }

    .sidebar-menu-list ul a span {
        display: inline;
    }

    .playlist-menu {
        display: flex;
    }

    .sidebar-menu-bottom a span {
        display: flex;
    }

    .sidebar-menu-bottom hr {
        display: inline-block;
    }


    /* custom */
    .sidebar {
        flex-basis: 30%;

    }

    .logos {
        align-items: flex-start;
    }

    /* contenitore icone top */
    .sidebar-menu-list ul {
        align-items: flex-start;

    }

    .sidebar-menu-list ul a:hover {
        border-left: 1px solid #ADFF2E;
    }

    /* contenitore playlist */
    .playlist-menu {
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }

    /* menu in basso nella sidebar  */
    .sidebar-menu-bottom {
        align-items: flex-start;
        padding-inline: 10px;
    }

    .sidebar-menu-bottom hr {
        width: 100%;
        border: 1px solid #7D7F84;
        margin-bottom: 5px;
    }

    /* main */
    .main {
        flex-basis: 70%;
    }

    /* link menu */

    .menu-main ul {
        font-size: 0.6rem;
    }

    .menu-main ul li {
        flex-basis: calc(100% / 3 - 10px);
    }
    
}