/* media query mobile first md 768px */

@media screen and (min-width: 768px) {



    /* custom */
    
    
   
    /* main */
    
     /* link menu */
     .menu-main ul {
        font-size: 0.8rem;
    }

     .menu-main ul li {
        flex-basis: calc(100% / 5 - 10px);
    }

    .cards {
        flex-basis: calc(100% / 4 - 10px);
    
    } 
    
    /* contenitore bottom  */

    .left-icon {
        flex-direction: row;
        gap: 10px;
    }
}