/* media query mobile first md 768px */

@media screen and (min-width: 768px) {



    /* custom */
    .sidebar {
        flex-basis: 30%;
     
     }
    
   
    /* main */
    .main{
        flex-basis: 70%;
    }
     /* link menu */
     .menu-main ul {
        font-size: 0.8rem;
    }

     .menu-main ul li {
        flex-basis: calc(100% / 5 - 10px);
    }

    .cards {
        flex-basis: calc(100% / 4 - 10px);
    
    } 

    
}