/* media query mobile first s 480px */
@media screen and (min-width: 480px) {

    /* effetti scomparsa */
    img[alt="logo small"] {
        display: none;
    }

    /* effetti comparsa */
    img[alt="logo big"] {
        display: inline-block;
    }

    .sidebar-menu-list ul a span {
        display: inline;
    }

    .playlist-menu {
        display: flex;
    }
    

    /* custom */
    .sidebar {
        min-width: 250px;
        flex-shrink: 0;
    
    }
    .logos {
        align-items: flex-start;
    }
    
    .sidebar-menu-list ul {
        align-items: flex-start;
       
    }
    .sidebar-menu-list ul a {
        border-left: 1px solid #ADFF2E;
    }
    .playlist-menu{
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }

    .main{
        width:  calc(100% - 800px );
    }
}