.container {
    background-color: aqua;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#site-bar{
    background-color: red;
    height: 90vh;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.menu-top {
    background-color: blue;
    width: 30px;
    height: 30px;
}

.menu-bottom {
    background-color: blue;
    width: 30px;
    height: 30px;
}



main {
    background-color: yellow;
    height: 90vh;
    flex-basis: 90%;
}

footer {
    background-color: brown;
    height: 10vh;
    flex-basis: 100%;
}